/* variable */
$primary-color: #fc0046;
$secondary-color: #2693c3;
$light-color: #181818;
$dark-color: #070707;
$white-color: #ffffff;


/* responsive breakpoints variable */
// Defining values
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);


/* .................................
		icon fonts 
		......................................
 */
@import 'partials/_iconfonts';


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* typography */
*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
a:hover{
		text-decoration: none;
	}
ul{
	margin: 0;
	padding: 0;
	li{
		list-style-type: none;
	}
	
}
#header_menu{
	position: relative;
}


.slidePage{
	width: 270px;
	background: $light-color;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 10px;
	color:$white-color;
}
.mainNav{
	  li{
	  list-style-type: none;
    margin-bottom: 5px;
    text-align: center;
    background:$light-color;
    border-radius: 5px;
    border: 1px solid #181b1c;
    transition: all .3s ease-in-out;
     a{
	  	padding: 5px;
	  	display: block;
	  	color:$white-color;
	  	}
	  	&:hover{
	  		background: darken($light-color, 20%);
	  		border: 1px solid #020202;
    		box-shadow: 0px 0px 4px #555;
	  	}
	  }
	 
}
.brand{
    padding-bottom: 5px;
    padding-right: 2px;
    border-radius: 5px;
    background: darken($light-color, 20%);
		//border: 1px solid #020202;
		box-shadow: 0px 0px 4px #555;
		border: 1px solid #181b1c;
}
.divider{
	background: darken($light-color, 20%);
	border: 1px solid #181b1c;
	box-shadow: 0px 0px 4px #555;
}
#logo{
	  width: 64px;
    height: 47px;
    float: left;
    margin-left: -5px;
    img{
    	max-width: 100%;

    }
    a{
    	&:hover{
    		text-decoration: none;
    	}
    }
}
.avater{
	  background-image: url(../img/avar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 50%;
    width: 64px;
    border-radius: 76%;
    height: 57px;
    margin: 25px auto 10px;
    overflow: hidden;
    box-shadow: 0px 0px 4px #555;
		border: 1px solid #181b1c;
		transition: all .3s ease-in-out;
		&:hover{
			.overlay{
				background: rgba(0,0,0, 0);
			}
		}
}
.overlay{
	background: rgba(0,0,0, 0.5);
	height: 100%;
	height: 100%;
}
.menu_about{
	font-size: 12px;
  line-height: 16px;
}
.widget{
	margin: 0 0 20px 0;
}
.site_Meta_info{
	  line-height: 20px;
    margin-top: 15px;
    margin-left: 5px;
	.name{
		font-size: 22px;
    text-transform: capitalize;
    color:$secondary-color;
	}
	.tagline{
		  color:$primary-color;
		  font-size: 12px;
	}
}
.social_menu {
	li{
	  list-style-type: none;
    display: inline-block;
    margin-left: 5px;
    font-size: 20px;
    border: 1px solid #181b1c;
		background: $light-color;
    box-shadow: 0px 0px 1px #fff;
    transition: all .3s ease-in-out;
    a{
    	padding: 5px;
    }
    &:hover{
    	box-shadow: 0px 0px 4px #fff;
    	background: #070c0c;
    }
	}
}

.footer{
	margin: 10px 0;
	p{
		font-size: 10px;
    line-height: 16px;
    margin: 0;
    padding: 5px;
	}
}
/* twitter svg img */
.twitter{
	background:url('/../img/twitter.svg') no-repeat center;
}
/* helper class */

.bg_effect{
	background: darken($light-color, 20%);
	//border: 1px solid #020202;
	box-shadow: 0px 0px 4px #555;
	border: 1px solid #181b1c;
}

header{
	background: green;
}
main{
	background: red;
	section{
		background: #fff;
    padding-bottom: 50px;
    transition: all 1s ease-in-out;
	}
}
h2.section_title{
	text-align: center;
	font-size: 30px;

}
p.description{
	padding: 20px;
  background: #eee;
  text-align: center;
  color: #555;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1.3px;
}
/* home page ......................................... */
.home{
	color: #FFF;
	//padding: 30px 50px 100px;
}
h1.site_heading{
	font-size: 30px;
	text-align: center;
	margin: 20px auto;
	line-height: 35px;
	text-shadow: 3px 0px 2px #555;
	letter-spacing: 1.6px;
}
.site_subtitle{
	font-size: 14px;
	text-align: center;
	padding: 25px;
	line-height: 20px;
	letter-spacing: 1.6px;
}
.cta{
	text-align: center;
	a{
		display: inline-block;
    border: 1px solid #0000ee;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 20px;
    margin-bottom: 15px;
    width: 150px;
	}
	.cta_contact{
		background: rgba(0,0,0,0.7);
    color: #fff;
    border: 1px solid #fff;
    &:hover{
    	background: #fff;
    	color:red;
    }
	}
	.cta_project{
		border: 1px solid #0000ee;
		background: #0000ee;
		color: #FFF;
		&:hover{
			background: red;
	    
	    border: 1px solid #fff;
		}
	}
	
}
/* main content area .................*/
.container{
	width: 100%;
	background: blue;
	//padding: 0 15px;
	//margin-left: 250px;
	/*from bootstrap*/
	// padding-right: 15px;
 //  padding-left: 15px;
 //  margin-right: auto;
 //  margin-left: auto;
}
.base{
	margin-bottom: 20px;
	//padding:0 20px;
	// margin-right: -15px;
 //  margin-left: -15px;
}
 #slidePage{
	 	display: none;
	 }
/* project  page .....................................*/
#project{
	
}
.projects{
	
}
.project{
	background: #eee;
	.project_title{
		font-size: 35px;
    text-transform: capitalize;
	}
}
.thumb{
	padding: 30px;
	background: #eee;
	padding-bottom: 0px;
	text-align: center;
	a{
		
	}
	img{
		width: 80%;
	}
}
.info{
	text-align: center;
	background: #eee;
	padding: 30px;
	padding-bottom: 0;
}
h3.project_title{
	margin: 0;
}
ul.p_t_u{
	margin-top: 50px;
	li{
		display: inline-block;
    color: #FFF;
    background: #fc0046;
    padding: 5px 15px;
    margin-right: 5px;
    font-size: 12px;
    border-radius: 10px;
    text-shadow: 2px 1px 0px rgba(0,0,0,0.5);
    margin-bottom: 10px;
	}
}
.action{
	  margin-top: 40px;
    overflow: hidden;
    margin-bottom: 20px;
	a{
		margin-bottom: 10px;
	}
}
.btn{
	  background: #2693c3;
    border: 1px solid;
    display: block;    
    padding: 4px 10px;    
    border-radius: 5px;
    color: #fff;
    text-shadow: 1px 0px 1px #000;
    font-size: 14px;
    text-transform: uppercase;
    &:hover{
    	background: $primary-color;
    	border: 1px solid;
    }
}
.logo_area{
	margin: 10px 0 20px !important;
}

/* home page .....................................*/
#home{
	
}
.home_bg{
  background-image: url(../img/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.bg_overlay{
	  background: rgba(24, 24, 24, 0.8);
    width: 100%;
    min-height: 100%;
    border-left: 5px solid #222;
    position: absolute;
}
/* about page .....................................*/
#about{}
.skills{}
.skill_set{}
table, th, td {
	border:1px solid #ccc;
	border-collapse: collapse;
	color: #555;
}
.skill_table{
	width: 100%;
	background: #eee;
	thead{}
	tbody{}
	tr{
		background: #FFF;
		&:nth-child(even){
			background: darken(#fff, 2%);
		}
	}
	th{
		padding: 15px;
		font-size: 18px;
		text-transform: capitalize;
		background: #eee;
		
	}
	td{
		padding: 10px;
		font-size: 12px;
		&:nth-child(1){
			font-weight: 700;
		}
	}
}
/* contact page .....................................*/
.contact{
	background: #fff;
}
.contact_form{
	  width: 100%;;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    background: #eee;
	.h3{
		
	}
	form{

	}
	.form_input{
		margin-top: 20px;
	}
	.top input{
			width: 100%;
			margin-bottom: 10px;
			height: 30px;
	    padding: 6px;
	    font-size: 14px;
	}
	.bottom{
		width: 98%;
		textarea{
			width: 100%;
		}
	}
	.submit{
		margin: 20px;
		overflow: hidden;
	}
	.button{
		width: 100px;
    height: 40px;
    float: right;
    font-size: 15px;
    text-transform: uppercase;
    border: #ccc4c4 solid 1px;
    border-radius: 5px;
    background: #fff;
    &:hover{
    	border: 1px solid $secondary-color;
    }
	}
}
.contact_list{}
.contact_item{
	background: #eee;
  margin-bottom: 10px;
  padding: 10px;
  
  span{
  	border: 2px solid #ccc;
    border-radius: 50%;
    line-height: 20px;
    background: #e8e4e4;
    margin-right: 10px;
    padding: 7px;
  }
  a{
  	color: #555;
  	text-decoration: none;
  	font-size: 16px;
  }
  &:hover{
  	span{
  		background: $secondary-color;
  		color: $primary-color;
  	}
  }
}




/* mobile header page .....................................*/
.hearder_zone{
	//padding: 10px;
	background: $light-color;
	overflow: hidden;
	border: 1px solid #020202;
	box-shadow: 0px 0px 4px #555;
	color: #FFF;
	.top_logo{
		width: 250px;
		float: left;
	}
	.top_menu{
		float: right;
    margin-top: 6px;
    margin-right: 10px;
    //background: #000;
    border: 2px solid transparent;
    padding: 5px;
    border-radius: 5px;
    img{
    	background: #FFF;
    }
    &:hover{
    	background: #000;
    	border: 2px solid #555;
    }
    &.active{
    	background: #000;
    	border: 2px solid #555;
    }
	}
	.brand{
		margin-top: 0px;
		margin-bottom: 0px;
		padding-bottom: 5px;
    padding-right: 2px;
    background: none;
    border: none;
		box-shadow: none;
    &:hover{
    	border-radius: 5px;
	    background: darken($light-color, 20%);
			//border: 1px solid #020202;
			box-shadow: 0px 0px 4px #555;
    }
	}
// 	.brand{
//     padding-bottom: 5px;
//     padding-right: 2px;
//     border-radius: 5px;
//     background: darken($light-color, 20%);
// 		//border: 1px solid #020202;
// 		box-shadow: 0px 0px 4px #555;
// 		border: 1px solid #181b1c;
// }
}

/* slide mav */

#slidePage2{
	display: none;
	width: 100%;
	height: 370px;
	text-align: center;
	margin-top: 62px;
	position: absolute;
	z-index: 111111;
}
#slidePage2.active {
    display:block ;
}
/*  media query css.............................. */
 .base:after{
 		content: "";
		display: table;
		clear: both;
 }


	.coloum100:after,
	.coloum70:after,
	.coloum50:after,
	.coloum30:after,
	.coloum20:after{
		//width: 100%;
	}
	.coloum100,
	.coloum70,
	.coloum50,
	.coloum30,
	.coloum20{
		width: 100%;
		margin: 25px 0;
		padding-right: 15px;
		padding-left: 15px;
	}

// Usage
/* screen greaater then 700 px small screen............ */
//@media (max-width: $screen-xs-max) {  }
@media (min-width: $screen-sm-min) { 
	.coloum100,
	.coloum70,
	.coloum50,
	.coloum30,
	.coloum20{
		
	}
	h1.site_heading{
		font-size: 45px;
		line-height: 50px;
		margin: 50px 0 30px;
	}
	.site_subtitle{
		font-size: 16px;
    padding: 25px;
    line-height: 20px;
	}
	.skill_table td{
		font-size: 16px;
	}
	.contact_form{
		
		.top input{
			margin-right: 10px;
	    width: 31%;
	    &:last-child{
	    	margin-right: 0;
	    }
		}
	}
	.bottom{
		width: 100%;
	}
 }
/* screen greaater then 950 px medium screen............ */
//@media (max-width: $screen-sm-max) {  }
@media (min-width: $screen-md-min) {
	 #slidePage{
	 	display: block;
	 }
	.container{
		width: 72%;
		margin-left: 270px;
	}
	h1.site_heading{
		font-size: 45px;
		line-height: 50px;
		margin: 40px 0 20px;
		letter-spacing: 1.6px;
	}
	#header_menu{
		display: none;
	}
	.thumb{
		padding: 20px;
	}
	.info{
		text-align: left;
		padding: 15px 10px;
		
		.project_title{
		font-size: 35px;
    text-transform: capitalize;
	}
	
		h3{
			margin: 10px;
		}
	}
	ul.p_t_u{
		margin-top: 10px;
	}
	.action{
	  margin-top: 10px;
    margin-bottom: 0;
   
   // margin-top: 40px;
   //  overflow: hidden;
   //  margin-bottom: 10px;
    
	a{
		float: left;
		margin-right: 20px;
	}
}
	.coloum100,
	.coloum70,
	.coloum50,
	.coloum30,
	.coloum20{
		float: left;
	}
	.coloum100{
			width: 100%;
		}
	.coloum70{
		width: 70%;
	}
	.coloum50{
		width: 50%;
	}
	.coloum30{
		width: 30%;
	}
	.coloum20{
		width: 20%;
	}

 }

 /* screen greaater then 1200 px larger screen............ */
//@media (max-width: $screen-md-max) {  }
@media (min-width: $screen-lg-min) { 
	.container{
		width: 77%;
		margin-left: 270px;
	}
		h1.site_heading{
		font-size: 55px;
		line-height: 60px;
		margin: 70px 0 20px;
		letter-spacing: 1.6px;
	}
	.coloumlg30{
		width: 30%;
	}
	.coloumlg70{
		width: 70%;
	}
	.cta{
		margin-top: 100px;
	}
	.thumb{
		img{
			width: 100%;
		}
	}
	.info{

		padding: 20px;
		h3{
			margin: 10px;
		}
	}
}